@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.top-container{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.top-container-body{
    height: 450px;
    width: 800px;
}

.header{
    color: white;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 80px;
}

.logo{
    font-size: 24px;
    font-weight: 900;
}

.content-container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.top-left-content{
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}
#hero-subtext{
    font-size: 18px;
    color: #e5e7ebb4;
    flex-wrap: wrap;
    margin: 8px 0px;
    
}

.signup-button{
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 10px;
    border: none;
    
}

ul{ 
     
    list-style: none;
    display: flex;
    padding: 0px;
    gap: 10px;
    
}

a{
    color: white;
    text-decoration: none;
    
}

.image-placeholder{
    height: 200px;
    width: 400px;
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.middel-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#information{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card-list{
    display: flex;
    gap: 32px;
}

.card{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.card-box{
    height: 100px;
    width: 100px;
    background-color: transparent;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.card-text{
    color: #0000008e;
    text-align: center;

}